* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.signButton {
  outline: none;
  color: white;
  background-color: #3d81ff;
  border: 1px solid #3d81ff;
  border-radius: 0.2rem;
  width: 5rem;
  height: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s; }
  .signButton:hover {
    outline: none;
    border: none;
    background-color: #3d81ff;
    box-shadow: 0px 0px 5px 2px #3d81ff;
    transform: scale(1.05); }

.submitButton {
  outline: none;
  color: white;
  background-color: #3d81ff;
  border: 1px solid #3d81ff;
  border-radius: 0.2rem;
  width: 5rem;
  height: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s; }
  .submitButton:hover {
    outline: none;
    border: none;
    background-color: #34ff34;
    box-shadow: 0px 0px 5px 2px #34ff34;
    transform: scale(1.05); }

.SignHeading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem;
  color: #3d81ff; }

.postContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
  padding: 0.2rem;
  margin-bottom: 1rem; }

.singlePostImage {
  height: 18rem;
  width: 20rem;
  border-radius: 1.5rem;
  box-shadow: 0px 7px 10px 0px gray;
  margin: 1rem; }

.singlePostHeading {
  display: flex;
  width: 100%; }

.singlePostHeadingColunm2 {
  margin-left: 1rem; }

.singlePostUserPic {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%; }

.singlePostUsername {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 1.2rem;
  font-weight: bold; }

.singlePostName {
  font-size: smaller;
  text-transform: capitalize;
  padding: 0.1rem;
  color: rgba(56, 56, 56, 0.774);
  margin-bottom: 0.5rem; }

.singlePostDesc {
  font-size: 0.9rem;
  font-family: cursive;
  font-style: italic; }

.singlePostDate {
  font-size: 0.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(56, 56, 56, 0.774);
  margin-bottom: 0.5rem; }

.singlePostCommentBox {
  display: flex;
  align-items: center;
  justify-content: center; }

.singlePostCommentInput {
  border: none;
  border-bottom: solid 3px black;
  outline: none;
  font-size: 1rem;
  font-family: cursive; }

.singlePostCommentsCollection {
  margin-left: 1rem; }

.singlePostSingleComment {
  padding: 0.7rem; }

.singlePostCommentUsername {
  text-decoration: none;
  color: black;
  font-size: 0.8rem; }

.singlePostCommentText {
  font-size: 1rem;
  font-family: cursive; }

.singlePostCommentDate {
  font-size: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(56, 56, 56, 0.774);
  margin-bottom: 0.5rem; }

.allUserParent {
  margin-top: 20px; }

.allUserContainer {
  display: flex;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden; }

.allUserContainer::-webkit-scrollbar {
  overflow: hidden; }

.allUserProfile {
  margin: 0 1rem;
  text-align: center;
  text-decoration: none; }

.allUserProfileUsername {
  text-decoration: none;
  color: black;
  font-size: 0.8rem; }

.allUserProfileImage {
  height: 4rem;
  width: 4rem;
  border-radius: 50%; }

.deletePostMyPosts {
  width: 100%;
  height: 2rem;
  outline: none;
  color: red;
  border-radius: 0.2rem;
  background-color: white;
  border: solid 1px red; }
  .deletePostMyPosts:hover {
    background-color: red;
    color: white;
    border: none;
    box-shadow: 0px 0px 10px 0px red; }

.profilePic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%; }

.profileParentDiv {
  display: flex;
  height: auto;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center; }

.profileCenterColunm1 {
  height: 200px;
  width: 50%;
  text-align: center;
  flex: 1 1 200px;
  margin: 10px; }

.profileCenterColunm2 {
  height: 200px;
  width: 50%;
  text-align: center;
  flex: 1 1 200px;
  margin: 10px; }

.profileFirstLastName {
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(56, 56, 56, 0.774); }

.profileUsername {
  font-size: 2rem; }

.profileNavlink {
  text-decoration: none;
  color: black;
  font-size: 0.5rem;
  margin: 0.8rem; }

.profileNavlinkPost {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0.8rem;
  font-weight: bold;
  transition: all 0.5 ease; }

.profileNavlinkContainer {
  justify-content: center;
  display: flex;
  padding: 0.8rem; }

.profileFollowButtonContainer {
  margin-top: 1rem; }

.profileAbout {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: black;
  margin-top: 0.5rem; }

.profileEmail {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(56, 56, 56, 0.774); }

.createPostParentMain {
  width: 100vw;
  height: 100vh;
  padding: 2rem; }

.createPostParent {
  display: flex;
  justify-content: center;
  align-items: center; }

.createPostInputFile {
  font-family: 'Times New Roman', Times, serif;
  border-radius: 0.2rem;
  padding: 0.1rem;
  border: solid 1px black;
  font-weight: bold;
  margin-left: 1rem; }

input[type="file"] {
  display: none; }

.createPostTexts {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem; }

.createPostInputText {
  border: none;
  border-bottom: solid 3px black;
  outline: none;
  font-size: 0.7rem;
  font-family: cursive;
  width: 50%;
  margin: 1rem; }
