.heading-auth {
    font-size: xx-large;
    color: rgb(34, 0, 128);
}

.navlink-auth {
    text-decoration: none;
    text-align: center;
    font-style: italic;
    color: rgb(34, 0, 128);

    &:hover {
        color: rgb(34, 0, 128);
    }
}

.upload-box-auth {
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: solid 1px black;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
}