.all-user-container {
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}

.all-user-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.active-feed-type {
    color: $color-main-dark;
    font-weight: 500;
}