.container-post {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.image-post {
    height: 100%;
    width: 25rem;
    margin: 1rem;
    border-radius: 1rem;

}

.desc-post {
    margin-left: 1.2rem;
    font-size: 1rem;
}

.date-post {
    font-size: 0.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(56, 56, 56, 0.774);
    margin-bottom: 0.5rem;
}

.comment-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-input-field {
    border: none;
    border-bottom: solid 3px black;
    outline: none;
    font-size: 1rem;
    font-family: cursive;
}

.comment-text {
    font-size: 1rem;
    font-family: cursive;
}

.comment-username {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

@media (max-width:768px) {
    .image-post {
        max-width: 18rem;
    }
}

@media (max-width:450px) {
    .image-post {
        max-width: 15rem;
    }
}